body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

#omg {
  padding: 8px;
  background: #FFF;
  width: 150px;
}

#wow {
  margin: 10px;
  border: 3px solid #000;
  padding: 10px;
  background: #528
  color: #609
}
